.section-content {
  // width: 80%;
  // margin: 0 auto;
  // display: flex;
  // flex-direction: column;

}
.section-content article {
  // margin: 0 auto;
  // display: flex;
  // flex-direction: column;

}

.section-content article .post-thumbnail {
  // width: 50%;
  // max-width: 800px;
}
.section-content article .entry-content {
  // width: 50%;
}

.section-content article img.post-thumbnail {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  float: left;
  margin-right: 1em;
}
